{{#bs-panel title="Data"}}
  {{#data-list}}
    {{#each dataItem in dataItems}}
      {{data-item dataItem=dataItem}}
    {{/each}}
    <li class="add-instruction-item list-group-item" {{action 'addDataItem'}}>Add</li>
  {{/data-list}}
{{/bs-panel}}
