{{#bs-panel title="Draw"}}
<div class="current-instruction-header">
  {{#if currentInstruction}}
    <h2>{{editable-instruction-text instruction=currentInstruction}}</h2>
  {{else}}
    <h2>Draw Picture</h2>
  {{/if}}
</div>
<svg {{bind-attr width=svgWidth height=svgHeight}} class="draw-panel noselect">
  <g class="chart" {{bind-attr width=chartWidth height=chartHeight}}></g>
  </svg>
{{/bs-panel}}
