{{#bs-panel title="Draw"}}
{{#if currentInstruction.displayText}}
  <h2>{{currentInstruction.displayText}}</h2>
{{else}}
  <h2>Draw Picture</h2>
{{/if}}
<svg {{bind-attr width=svgWidth height=svgHeight}}>
  <g class="chart" {{bind-attr width=chartWidth height=chartHeight}}></g>
  </svg>
{{/bs-panel}}
