{{#bs-panel title="Draw"}}
<h2>{{currentInstruction.displayText}}</h2>
<svg {{bind-attr width=svgWidth height=svgHeight}}>
  <g class="chart" {{bind-attr width=chartWidth height=chartHeight}}></g>
  </svg>
{{/bs-panel}}
