{{#bs-panel title="Drawing Tools"}}
  <h2>Draw</h2>
    <ul>
      {{#each drawingModes as |mode|}}
        {{drawing-tool-list-item mode=mode activeDrawingMode=activeDrawingMode}}
      {{/each}}
    </ul>
  <h2>Adjust</h2>
    <ul>
      {{#each adjustModes as |mode|}}
        {{drawing-tool-list-item mode=mode activeDrawingMode=activeDrawingMode}}
      {{/each}}
    </ul>
  <h2>Flow</h2>
    <ul>
      {{#each flowModes as |mode|}}
        {{drawing-tool-list-item mode=mode activeDrawingMode=activeDrawingMode}}
      {{/each}}
    </ul>
{{/bs-panel}}
