{{#unless isRootOperation}}
  {{instruction-item
    instruction=rootInstruction
    dataItems=dataItems
  }}
{{/unless}}
{{#each subInstruction in rootInstruction.subInstructions}}
  {{instructions-tree-panel
    rootInstruction=subInstruction
    dataItems=dataItems
  }}
{{/each}}
{{#if newInstructionString}}
<li class="add-instruction-item list-group-item" {{action 'addInstruction'}}>Add {{newInstructionString}}</li>
{{/if}}
