<button {{action "removeInstruction"}} type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
{{editable-instruction-text instruction=instruction}}
{{#if hasSubInstructions}}
  <ul>
    {{#each instruction.subInstructions as |subInstruction|}}
      {{ro-instruction-list-item
        instruction=subInstruction
        currentInstruction=currentInstruction
        setParentCurrentInstruction="setCurrentInstruction"
        }}
    {{/each}}
  </ul>
{{/if}}
