@import '_bootstrap';
@import 'font-awesome';
@import 'tree';

.header blockquote {
  max-width: 400px;
  position: absolute;
  color: darkgray;
  right: 20px;
}

.main-container {
  width: 600px;
}

.pivot-table {
  margin: 50px;
}
