@import '_bootstrap';
@import 'font-awesome';
@import 'grid';

$highlight-color: #f5f5f5;

.header blockquote {
  max-width: 400px;
  position: absolute;
  color: darkgray;
  right: 20px;
}

// Make it so when we set a width it stays that width
// even if padding or border is applied.
.description-panel {
  .add-instruction-item {
    padding: 0px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $highlight-color;
    }
  }

  .instruction-item input {
    width: 50px;
  }

  .variable-name-input {
    width: 50px;
  }

  .variable-value-input {
    width: 150px;
  }

  .victor-data-panel {
    h2 {
      font-size: 17px;
    }
    td.add-table-row {
      text-align: center;
      &:hover {
        background-color: $highlight-color;
      }
    }
  }
}


.d3-code-panel textarea {
  width: 100%;
  max-width: 100%;
}


