@import '_bootstrap';
@import 'font-awesome';
@import 'grid';

$highlight-color: #E6E5E5;

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header blockquote {
  max-width: 400px;
  position: absolute;
  color: darkgray;
  right: 20px;
}

h2 {
  margin-top: 0px;
  font-size: 17px;
}

ul {
  list-style-type: none;
}

// Make it so when we set a width it stays that width
// even if padding or border is applied.
.description-panel {
  .add-instruction-item {
    padding: 0px;
    border-left: 5px solid $highlight-color;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $highlight-color;
    }
  }

  .instructions-subtree {
    border-left: 5px solid $highlight-color;
  }

  .instruction-item input {
    width: 50px;
  }

  .variable-name-input {
    width: 50px;
  }

  .variable-value-input {
    width: 150px;
  }

  .victor-data-panel {
    td {
      input {
        width: 70px;
      }
      &.add-table-row {
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: $highlight-color;
        }
      }
    }
  }
}

// This is so that very long instructions don't
// reflow the drawing panel
.current-instruction-header {
  max-width: 640px;
}

.drawing-tools-panel {
  li {
    margin-right: 30px;
    text-align: right;
  }
  li.is-active {
    background-color: $highlight-color;
  }
}

.ro-instruction-list {
  li {
    position: relative;
    padding-right: 20px;
    &.is-current {
      background-color: $highlight-color;
    }
    button.close {
      position: absolute;
      top: -6px;
      right: 0;
      opacity: 0;
    }
    &:hover > button.close {
      opacity: 0.4;
    }
  }
}

.instruction-attr {
  background-color: #B5ECB1;
  margin-right: 4px;
}

.draw-panel svg {
  border: solid 1px rgb(232, 232, 232);
}

.d3-code-panel textarea {
  width: 100%;
  max-width: 100%;
  font-family: monospace;
}

.variable-pill {
  background-color: #a0caff;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.expression-editor {
  display: inline-block;
  background-color: #a0ffca;
  margin: 0px 10px 0px 10px;
  /*white-space: nowrap;*/
  width:150px;
  /*overflow: hidden;*/

  /*br {*/
    /*display:none;*/
  /*}*/

  /** {*/
      /*display:inline;*/
      /*white-space:nowrap;*/
  /*}*/
}

.variable-definition {
  padding: 0px;
}
