
/* TODO split css into modules */

.hidden {
  display: none;
}

/* drawing */
.canvas {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 800px;
  height: 600px;
}

.canvas.view {
  width: 100%;
  height: 100%;
}

.canvas.view.hidden {
  display: none;
}

.picture-thumbnail-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.share-picture-button {
  position: absolute;
  right: 50px;
  top: 12px;
  cursor: pointer;
  opacity: 0;
}

.preview-picture-button {
  position: absolute;
  right: 30px;
  top: 12px;
  cursor: pointer;
  opacity: 0;
}

.delete-picture-button {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  opacity: 0;
}

.picture-thumbnail-wrapper:hover .delete-picture-button,
.picture-thumbnail-wrapper:hover .share-picture-button,
.picture-thumbnail-wrapper:hover .preview-picture-button {
  opacity: 0.6;
}

.picture-thumbnail {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 200px;
  height: 150px;
  margin: 10px;
}

.new-picture-button {
  display: inline-block;
  line-height: 150px;
  text-align: center;
  vertical-align: top;
  color: #444;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

.active-picture-thumbnail {
  margin: 8px;
  border: 2px solid rgb(38, 137, 220);
}

.picture-for-picture-tool-thumbnail {
  margin: 8px;
  border: 2px solid rgb(220, 137, 38);
}

.magnet {
  fill: rgb(231, 238, 80);
  stroke: darkgray;
}

.control-point {
  fill: rgb(38, 137, 220);
  stroke: white;
  cursor: pointer;
}

.top-bar {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
  box-shadow: inset 0px -8px 8px -8px rgba(0,0,0,0.25);
  padding: 0 0 5px 0;
  overflow-x: auto;
  white-space: nowrap;
}

.editor-area {
  overflow: auto;
}

.left-panel {
  float: left;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ccc;
}

.left-panel-header {
  position: relative;
  text-align: center;
  padding: 3px;
  color: #777;
  background-color: #ccc;
  /*box-shadow: inset 0px -5px 20px -5px rgba(0,0,0,0.3);*/
}

.resize-panel-arrow {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: ew-resize;
  opacity: 0;
}

.left-panel:hover .resize-panel-arrow {
  opacity: 1;
}

.drag-handle {
  cursor: move;
}

.drawing-area-scroll-wrapper {
  position: relative;
  overflow: auto;
  max-width: 1200px;
}

.drawing-area {
  padding: 40px 0px 0px 20px;
  min-width: 1088px;
}

.canvas-container {
  margin: 0 auto;
  width: 800px;
  float: right;
  /* to show bottom border of svg */
  padding-bottom: 8px;
}

.instruction-title {
  height: 30px;
  margin: 0 0 10px 0;
  overflow: auto;
  text-align: center;
}

.instruction-code textarea {
  width: 100%;
  height: 200px;
}


/* instructions */
.instructions-list {
  list-style-type: none;
  position: relative;
  color: black;

  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0px 0px 0px 20px;
  font-size: 0.7em;
}

/*TODO: get rid of sub-instructions-list*/
.sub-instructions-list {
  list-style-type: none;
  padding: 0px 0px 0px 20px;
}

.instruction-sentence {
  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub-instructions-list.selected {
  background: #d0f0ff;
}

.instruction-list-item.selected {
  background: #999;
}

.sub-instruction-list-header.selected {
  background: #999;
}

.sub-instruction-list-header.sub-item-selected {
  background: #d0f0ff;
}

.keyboard-controls-list {
  float: right;
  padding: 10px;
}

.keyboard-control-description {
  text-align: right;
  width: 150px;
}

.keyboard-control-key {
  width: 80px;
  text-align: left;
}


.keyboard-control-group {
  text-align: right;
  margin-top: 20px;
  color: #555;
  font-size: 0.7em;
}

.active-key {
  background: #d0f0ff;
}

/* table */
td, th {
  width: 100px;
  padding: 2px;
  padding-right: 7px;
  overflow: hidden;
}

.data-table {
  font-size: 10;
  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.current-loop-column {
  background-color: darksalmon;
}

/* fixed left column */
.table-name-col {
  position: absolute;
  width: 130px;
  left: 0;
  top: auto;
}

.table-container {
  margin-left: 130px;
  margin-bottom: 40px;
  overflow-x: auto;
}

/* data variables */
.expression-scrubbable {
  margin-left: 5px;
  margin-right: 5px;
  cursor: ew-resize;
}

.expression-scrubbable:hover {
  background-color: #EFED13;
}

.dataVariables-list-container {
  overflow-x: auto;
}

.dataVariables-list, .shape-data-list {
  font-size: 10;
  list-style-type: none;
  padding: 0px 0px 0px 20px;
  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 300px;
}

.shape-data-list {
  padding: 0;
}

.data-variable-list-item {
  margin-bottom: .5em;
}

.dataVariable-value, .shape-data-value {
  display: inline-block;
  color: darkgray;
  margin-left: 10px;
}

/* expressions */
.variable-pill {
  background-color: #a0caff;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.expression-editor {
  white-space: nowrap;
  display: inline-block;
  background-color: #a0ffca;
  margin: 0px 10px 0px 10px;
}

.variable-definition {
  padding: 0px;
}

.name-editable {
  background-color: rgb(231, 238, 80);
  white-space: nowrap;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

/* testing */
#cursorLocation {
  background-color: red;
}

/* popover */
.popover {
  position: absolute;
  background-color: rgb(244, 244, 244);
  box-shadow: 3px 3px 10px darkgray;
}

.close-x {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.color-expression-editor {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.notebook-viewer-container .btn {
  position: absolute;
  background-color: #333;
  color: #ddd;
  opacity: 0.6;
  cursor: pointer;
  padding: 4px;
}

.notebook-viewer-container .btn:hover {
  opacity: 1.0;
}

.btn.return-to-edit {
  top: 10px;
  right: 10px;
}

/* Notebook Editor Menu Bar */
span.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.2em;
  margin: 5px;
  vertical-align: middle;
  float: left;
  color: #555;
}

span.logo input {
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
  background-color: #333;
  color: #666;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #333;
}

span.logo input:hover {
  border: 2px solid #777;
}

span.logo input:focus {
  color: #ddd;
  border: 2px solid #777;
}

.logo-button {
  margin-top: 5px;
  cursor: pointer;
}

.logo-button:hover {
  color: #ddd;
}

.nav ul {
  list-style: none;
  background-color: #333;
  text-align: right;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border: none;
  display: inline-block;
  margin-right: 5px;
}

.nav a {
  text-decoration: none;
  color: #777;
  display: block;
  transition: background-color .3s, color .3s;
  padding: 0 4px;
}

.nav a.active {
  color: #ddd;
  background-color: #444;
  border-bottom: 2px solid rgb(38, 137, 220);
}

.nav a:hover {
  color: #ddd;
}

/* Notebook Not Found */
.notebook-not-found {
  margin: 20 auto;
  font-size: 5em;
  line-height: 40px;
}

.notebook-not-found .button {
  margin-left: 10px;
  cursor: pointer;
}

.notebook-not-found .button:hover {
  color: gray;
}

.modal {
  content: "";
  display: none;
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}

.modal.showing {
  display: block;
}

.modal-dialog{
  background: #fefefe;
  border: gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  /*top: -100%;*/
  top: 20%;
  z-index: 11;
  width: 360px;
  /*.translate(0, -500%);*/
  /*.transition-transform(~"0.3s ease-out");*/
}

.modal-body{
  padding: 20px;
}

.modal-header,
.modal-footer{
  padding: 10px 20px;
}

.modal-header h2 {
  font-size: 20px;
}

.modal-footer{
  text-align: right;
}

.modal .btn-close{
  color: black;
  cursor: pointer;
  opacity: 0.5;
  font-size: 30px;
  text-decoration: none;
  position: absolute; right: 5px; top: 0;
}

.modal .btn-close:hover {
  opacity: 0.8;
}

.modal .btn {
  cursor: pointer;
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}

.modal .btn:hover {
  background-color: #357ebd;
}

.modal .btn.pill {
  border: #aaa solid 1px;
  background-color: #aaa;
}
.modal .btn.pill.active {
  background: #428bca;
  border: #357ebd solid 1px;
}

.modal input {
  margin-top: 20px;
  font-size: 14px;
  padding: 8px;
}

.shapes-compiler-error {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(250, 16, 16, 0.63);
  color: white;
  padding: 10px;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
}
