
/* TODO split css into modules */

.hidden {
  display: none;
}

/* drawing */
.drawing-area {
}

.canvas {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 800px;
  height: 600px;
}

.picture-thumbnail {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 200px;
  height: 150px;
  margin: 10px;
}

.new-picture-button {
  display: inline-block;
  line-height: 150px;
  text-align: center;
  vertical-align: top;
}

.active-picture-thumbnail {
  margin: 8px;
  border: 2px solid rgb(38, 137, 220);
}

.magnet {
  fill: rgb(231, 238, 80);
  stroke: darkgray;
}

.control-point {
  fill: rgb(38, 137, 220);
  stroke: white;
  cursor: pointer;
}

.top-bar {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
  box-shadow: inset 0px -8px 8px -8px rgba(0,0,0,0.25);
  padding: 0 0 5px 0;
}

.editor-area {
  overflow: auto;
}

.left-panel {
  width: 300px;
  float: left;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ccc;
}

.left-panel-header {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ccc;
  text-align: center;
  padding: 3px;
  color: #606060;
  background-color: #cdf;
  box-shadow: inset 0px -5px 20px -5px rgba(0,0,0,0.3);
}

.drawing-area {
  overflow: auto;
  padding: 40px 0px 0px 20px;
}

.canvas-container {
  margin: 0 auto;
  width: 800px;
}

.instruction-title {
  height: 30px;
  margin: 0 0 10px 0;
  overflow: auto;
  text-align: center;
}

.instruction-code textarea {
  width: 100%;
  height: 200px;
}


/* instructions */
.instructions-list {
  list-style-type: none;
  position: relative;
  background: #efefef;
  color: black;

  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0px 0px 0px 20px;
  font-size: 0.7em;
}

/*TODO: get rid of sub-instructions-list*/
.sub-instructions-list {
  list-style-type: none;
  padding: 0px 0px 0px 20px;
}

.instruction-sentence {
  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub-instructions-list.selected {
  background: #d0f0ff;
}

.instruction-list-item.selected {
  background: #999;
}

.sub-instruction-list-header.selected {
  background: #999;
}

.sub-instruction-list-header.sub-item-selected {
  background: #d0f0ff;
}

.keyboard-controls-list {
  float: right;
  padding: 10px;
}

.keyboard-control-description {
  text-align: right;
  width: 150px;
}

.keyboard-control-key {
  width: 50px;
  text-align: left;
}



.active-key {
  background: #d0f0ff;
}

/* table */
td, th {
  width: 100px;
  padding: 2px;
  padding-right: 7px;
  overflow: hidden;
}

.data-table {
  font-size: 10;
  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.current-loop-column {
  background-color: darksalmon;
}

/* fixed left column */
.table-name-col {
  position: absolute;
  width: 130px;
  left: 0;
  top: auto;
}

.table-container {
  margin-left: 130px;
  margin-bottom: 40px;
  overflow-x:scroll;
}

/* data variables */
.expression-scrubbable {
  margin-left: 5px;
  margin-right: 5px;
}

.dataVariables-list, .shape-data-list {
  font-size: 10;
  list-style-type: none;
  padding: 0px 0px 0px 20px;
  /* no-select stuff */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dataVariable-value, .shape-data-value {
  display: inline-block;
  color: darkgray;
  margin-left: 10px;
}

/* expressions */
.variable-pill {
  background-color: #a0caff;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.expression-editor {
  white-space: nowrap;
  display: inline-block;
  background-color: #a0ffca;
  margin: 0px 10px 0px 10px;
}

.variable-definition {
  padding: 0px;
}

.name-editable {
  background-color: rgb(231, 238, 80);
  white-space: nowrap;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

/* testing */
#cursorLocation {
  background-color: red;
}

/* popover */
.popover {
  position: absolute;
  background-color: rgb(244, 244, 244);
  box-shadow: 3px 3px 10px darkgray;
}

.close-x {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.color-expression-editor {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

