
/* TODO split css into modules */

/* drawing */
.canvas {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
  width: 400px;
  height: 400px;
  margin-left: 20px;
}

.magnet {
  fill: rgb(231, 238, 80);
  stroke: darkgray;
}

.control-point {
  fill: rgb(38, 137, 220);
  stroke: white;
}

textarea {
  width: 400px;
  height: 400px;
}

/* instructions */
.instructions-list {
  list-style-type: none;
  position: relative;
  margin-left: 20px;
  top: 100px;
  width: 400px;
  padding: 30px 30px 10px 30px;
  background: #efefef;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
  color: black;

  // no-select stuff
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub-instructions-list.selected {
  background: #d0f0ff;
}

.instruction-list-item.selected {
  background: #999;
}

.sub-instruction-list-header.selected {
  background: #999;
}

.sub-instruction-list-header.sub-item-selected {
  background: #d0f0ff;
}

/* table */
td, th {
  padding: 2px;
  padding-right: 7px;
}

.data-table {
  font-size: 10;
  margin-bottom: 40px;
}

.current-loop-column {
  background-color: darksalmon;
}

/* fixed left column */
.table-name-col {
  position: absolute;
  width: 130px;
  left: 0;
  top: auto;
}

.table-container {
  width: 200px;
  margin-left: 130px;
  overflow-x:scroll;
}

/* data variables */
.dataVariables-list {
  font-size: 10;
  // no-select stuff
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dataVariable-value {
  display: inline-block;
  color: darkgray;
  margin-left: 10px;
}

/* expressions */
.variable-pill {
  background-color: #a0caff;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.expression-editor {
  white-space: nowrap;
  display: inline-block;
  background-color: #a0ffca;
  margin: 0px 10px 0px 10px;
  /*width:150px;*/
}

.variable-definition {
  padding: 0px;
}

.name-editable {
  background-color: rgb(231, 238, 80);
  white-space: nowrap;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

// testing
#cursorLocation {
  background-color: red;
}

