<div class="header">
  <blockquote class="blockquote-reverse">
    An approximate answer to the right problem is worth a good deal more than
    the exact answer to an approximate problem.
    <footer>
      J.T.
    </footer>
  </blockquote>
</div>

<div class="main-container">
  <ul class="nav nav-tabs">
    {{#link-to 'marks' tagName="li" href=false role="presentation"}}
      <a {{bind-attr href="view.href"}}>Marks</a>
    {{/link-to}}
    {{#link-to 'calculator' tagName="li" href=false role="presentation"}}
      <a {{bind-attr href="view.href"}}>Calculator</a>
    {{/link-to}}
  </ul>

  {{outlet}}
</div>
