<div class="header">
  <blockquote class="blockquote-reverse">
    An approximate answer to the right problem is worth a good deal more than
    the exact answer to an approximate problem.
    <footer>
      J.T.
    </footer>
  </blockquote>
</div>

{{outlet}}
