<div class="header">
  <blockquote>
    An approximate answer to the right problem is worth a good deal more than
    the exact answer to an approximate problem.
    <cite>John Tukey</cite>
  </blockquote>
</div>

{{outlet}}
