
{{#dynamic-drawing rootInstruction=rootInstruction as |d3CodeText controlPoints|}}
  <div class="grid">
    <div class="description-panel col-1-3">
      {{data-panel dataItems=dataItems}}
      {{instructions-panel
        rootInstruction=rootInstruction
        lastInstruction=lastInstruction
        dataItems=dataItems
       }}
    </div>

    <div class="output-panel col-2-3">
      {{draw-panel d3Code=d3CodeText controlPoints=controlPoints}}
      {{d3-code-panel code=d3CodeText}}
    </div>
  </div>
{{/dynamic-drawing}}
