{{collapsible-tree model=model detailValue=detailValue tableModel=tableModel}}

{{! TODO Make component detail view }}
<div class="detail-view">
  {{detailValue}}
</div>

{{simple-table model=tableModel}}
