{{#json-input jsonInput=jsonInput jsonOutput=jsonOutput}}
  {{textarea value=jsonInput cols="80" rows="6" jsonOutput=jsonOutput}}
{{/json-input}}

{{collapsible-tree model=jsonOutput detailValue=detailValue tableModel=tableModel}}

{{! TODO Make component detail view }}
<div class="detail-view">
  {{detailValue}}
</div>

{{simple-table model=tableModel}}
